.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 470px;

  &__button {
    width: 53px;
    height: 60px;

    text-align: center;
    font-family: "Poppins-Bold";
    font-size: $font-size-lg;
    color: $black;

    background: $white;
    border: 1px solid $gray-300;
  }
  &__button_primary {
    color: $white;

    background: $black;
  }
}
