.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 470px;

  &__button {
    width: 52px;
    height: 59px;

    text-align: center;
    font-family: "Poppins-Bold";
    font-size: $font-size-lg;
    color: $black;

    background: $white;
    border: 1px solid $gray-300;

    transition: all 0.3s ease-out;
  }
  &__button:hover {
    opacity: 50%;
    transition: all 0.3s ease-in;
  }
  &__button_primary {
    color: $white;

    background: $black;
  }
}
@media only screen and (max-width : 768px) {
  .pagination {
    width: max-content;
    align-content: center;
    &__button {
      padding: 0;
    }
    &__button_hidden {
      display: none;
    }
  }
}
